.detail-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
}

.pokemon-profile-container {
  margin-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  position: relative;
}

h2 {
  margin: 0;
}

.detail-card {
  margin: 0 20px;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 10px 1px var(--clr-darkblue);
}

.card-container div {
  max-width: 450px;
}

.favorites-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0;
}

.favorites-btn img {
  width: 35px;
  height: 35px;
}

.toggle-image-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 0;

  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.stats-container,
.image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.image-container {
  text-align: center;
}

.pokemon-img {
  width: 350px;
  height: 350px;
}

label,
.type-label {
  font-size: 1.2rem;
  display: block;
  text-transform: capitalize;
}

progress[value]::-webkit-progress-value {
  background-color: green;
}

progress::-webkit-progress-bar {
  background-color: rgb(199, 180, 180);
}

progress[value] {
  appearance: none;
  width: 100%;
  height: 20px;
  color: red;
}

.type-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.type.undefined {
  display: none;
}

.description-title,
.info-title,
.profile-title {
  margin-bottom: 0;
  color: white;
}

.description-title,
.info-title {
  margin-top: 10px;
}

.description-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.information-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.information-container div {
  flex-grow: 1;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 10px;
}

.info-span {
  display: block;
  font-weight: normal;
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.electric {
  background-color: #f8d030;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
  color: white;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
  color: white;
}

.dragon {
  background-color: #7038f8;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #f0b6bc;
}

.abilities {
  font-weight: bold;
  background-color: #333333;
  padding: 2px 10px;
}

.normal-text {
  color: #a8a878;
}

.fire-text {
  color: #f08030;
}

.water-text {
  color: #6890f0;
}

.grass-text {
  color: #78c850;
}

.electric-text {
  color: #f8d030;
}

.ice-text {
  color: #98d8d8;
}

.fighting-text {
  color: #c03028;
}

.poison-text {
  color: #a040a0;
}

.ground-text {
  color: #e0c068;
}

.flying-text {
  color: #a890f0;
}

.psychic-text {
  color: #f85888;
}

.bug-text {
  color: #a8b820;
}

.rock-text {
  color: #b8a038;
}

.ghost-text {
  color: #705898;
}

.dark-text {
  color: #705848;
}

.dragon-text {
  color: #7038f8;
}

.steel-text {
  color: #b8b8d0;
}

.fairy-text {
  color: #f0b6bc;
}

@media (max-width: 800px) {
  .detail-card {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  .card-container {
    grid-auto-flow: row;
    place-items: center;
  }
}

@media (max-width: 550px) {
  .pokemon-img {
    width: 250px;
    height: 250px;
  }

  h2 {
    margin-top: 10px;
  }

  progress[value] {
    height: 15px;
  }
}
