.pokemon-intro-img {
  background-image: url(../../images/pokemon-intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20rem 0;
}

.statement {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
