h1 {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.pokemon-list-container {
  margin-bottom: 6rem;
}

.search-filter {
  display: block;
  width: 240px;
  padding: 10px;
  margin: 3rem auto;
  border: 2px solid var(--clr-darkblue);
  color: var(--clr-darkblue);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.search-filter:focus {
  background-color: var(--clr-yellow);
  outline: none;
}

.pokemon-ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemon-list {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.list-img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
}

.pokemon-link {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.pokemon-link:hover {
  color: var(--clr-yellow);
  text-shadow: none;
  font-weight: bold;
}

.region-selection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.region-btn {
  font-size: 1.2rem;
  width: 100%;
  padding: 15px 0;
  border: none;
  background-color: var(--clr-darkblue);
  color: white;
  cursor: pointer;
}
